<nz-layout class="app-layout">
  <nz-sider nzCollapsible nzWidth="250px">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>ProScore</h1>
      </a>
    </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>Client Zone</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="pie-chart"></span>
            <span>Portfolio Zone</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="line-chart"></span>
            <span>Reporting</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="experiment"></span>
            <span>Laboratory</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="number"></span>
            <span>Configure Scoring</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="usergroup-add"></span>
            <span>Configure Peer Group</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="user-switch"></span>
            <span>Update Peer Group</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="home"></span>
            <span>Firm Administration</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="database"></span>
            <span>Advisor Administration</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="sliders"></span>
            <span>Conifgure Investment Data</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="tool"></span>
            <span>Investment Toolbox</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file-search"></span>
            <span>Scouting Tool</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="edit"></span>
            <span>Client Reports</span>
          </li>
          <li nz-menu-item>
            <a href="routerLink" routerLink="/yur">
              <span nz-icon nzType="exclamation"></span>
              <span>ProScore Administration</span>
            </a>
          </li>
          <li nz-menu-item>
            <a href="routerLink" routerLink="/welcome">
            <span nz-icon nzType="setting"></span>
            <span>Settings</span>
          </a>
          </li>
        </ul>
      </nz-sider>
  <nz-layout>
    <nz-header>
      <!-- <span class="header-trigger" (click)="isCollapsed = !isCollapsed" style="text-align: left;">
        <span class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
        </span>
      </span> -->
      <ul nz-menu nzTheme="dark" nzMode="horizontal" style="text-align: right;">
        <li style="text-align: right;" nz-menu-item>Settings</li>
        <li style="text-align: right;" nz-menu-item>Profile</li>
        <li style="text-align: right;" nz-menu-item>Welcome <b>Kody</b></li>
      </ul>
    </nz-header>
    <!-- <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header> -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
